[worldserver]

# Learn spells when entering the world
LearnSpells.OnLogin.Enabled = 1

# Learn spells when leveling up
LearnSpells.OnLevelUp.Enabled = 1

# Learn class-specific spells
LearnSpells.ClassSpells.Enabled = 1

# Learn ranks of known talents
LearnSpells.TalentRanks.Enabled = 1

# Learn weapon and defense skills
LearnSpells.Proficiencies.Enabled = 1

# Learn spells normally obtained from quests
LearnSpells.SpellsFromQuests.Enabled = 1

# Set a players weapon skills to their max value
LearnSpells.MaxSkill.Enabled = 0

# Max level where a player gets their skills maxed out
LearnSpells.MaxSkill.MaxLevel = 60

# Learn riding and mount spells
LearnSpells.Riding.Enabled = 0

# Learn apprentice (75%) riding and mount spells
LearnSpells.Riding.Apprentice.Enabled = 0

# Learn journeyman (150%) riding and mount spells
LearnSpells.Riding.Journeyman.Enabled = 0

# Learn expert (225%) riding and mount spells
LearnSpells.Riding.Expert.Enabled = 0

# Learn artisan (300%) riding and mount spells
LearnSpells.Riding.Artisan.Enabled = 0

# Learn cold weather flying at level 77
LearnSpells.Riding.ColdWeather.Enabled = 0
